.navbar{
  border:1px solid #ccc;
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}
.navbar li{
  display:inline;
}
  
  .navbar  {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .navbar {
    color: #f1f1f1;
  }

body{
    background: #5f7e9c;
}